

table.gridtable {
    font-family: verdana,arial,sans-serif;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    width: 70%;
}

    table.gridtable th {
        border-width: 1px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
        height: 15px;
    }

    table.gridtable td {
        border-width: 1px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
        height: 15px;
        text-align: center;
    }

    table.gridtable tr {
        border-width: 1px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
        height: 15px;
    }
